@use "../abstracts/" as *;

.about {
  padding-block: var(--section-padding-block);
  color: var(--color-dark);
  background-color: var(--color-white);

  &__grid {
    display: grid;
    gap: 40px;

    &--3-cols {
      grid-template-columns: repeat(3, 1fr);

      @include laptop {
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
      }

      @include tablet {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    &--revers {
      flex-direction: column-reverse;
    }

    &-image {
      width: 100%;
      height: auto;

      @include tablet {
        max-width: 728px;
      }

      @include mobile {
        max-width: 340px;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }
  }
}
