@use "../abstracts/" as *;

.header {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: var(--color-dark);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .header__overlay {
    @include mobile {
      @include flex-center;

      position: fixed;
      z-index: 100;
      inset: 60px 0 0 100%;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: var(--color-dark);
      transition-duration: 0.4s;

      &.is-active {
        left: 0;
      }
    }
  }

  &__menu {
    &-list {
      display: flex;
      align-items: center;
      list-style-type: none;

      @include mobile {
        flex-direction: column;
        row-gap: 36px;
      }
    }

    &-link {
      padding: 18px 20px;
      font-family: var(--font-family-accent);
      font-weight: 400;
      text-transform: uppercase;

      @include hover {
        color: var(--color-accent);
      }
    }
  }
}
