@use "../abstracts/" as *;

.hero {
  &__inner {
    display: flex;
    column-gap: 20px;
    height: calc(100vh - 60px);
    padding-block: var(--section-padding-block);

    @include mobile {
      height: 100%;
    }
  }

  &__vertical {
    &-container {
      display: flex;
      align-items: center;
      column-gap: 12px;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      transform: rotate(180deg);
      writing-mode: vertical-lr;

      span {
        white-space: nowrap;
      }
    }

    &-line {
      display: inline-block;
      width: 1px;
      height: 100%;
      background-color: var(--color-white);
    }
  }

  &__body {
    display: flex;
    column-gap: 40px;
    padding-left: 20px;

    @include tablet {
      column-gap: 20px;
    }

    @include mobile {
      flex-direction: column;
      row-gap: 20px;
      padding-left: 0;
    }

    &-container {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      padding-top: 100px;

      @include mobile {
        max-width: 410px;
      }

      @include mobile {
        padding-top: 0;
      }
    }
  }

  &__scroll-down {
    display: inline-flex;
    column-gap: 8px;
    margin-top: auto;
    cursor: pointer;
    transition-duration: var(--transition-duration);

    @include hover {
      color: var(--color-accent);
    }
  }

  &__image {
    object-fit: cover;

    &--center {
      margin-block: auto;

      @include laptop {
        display: none;
      }
    }
  }

  &__image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    row-gap: 60px;

    img {
      max-width: fluid-to-laptop(280, 220);
      height: auto;
    }
  }

  &__description {
    max-width: 220px;
    max-height: 72px;
    text-align: end;
  }
}
