@use "../abstracts/" as *;

.pricing {
  padding-block: var(--section-padding-block);
  color: var(--color-dark);
  background-color: var(--color-white);

  &__header {
    display: grid;
    row-gap: 12px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    padding-top: 40px;
    list-style-type: none;
  }
}
