@use "../abstracts/" as *;

.pricing {
  padding-block: var(--section-padding-block);
  color: var(--color-dark);
  background-color: var(--color-white);

  &__header {
    display: grid;
    row-gap: 12px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    padding-top: 40px;
    list-style-type: none;

    @include laptop {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 40px;
      padding-inline: 34px;
    }

    @include tablet {
      gap: 20px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      padding-inline: 10px;
    }
  }
}
