@use "../abstracts/" as *;

.burger-menu {
  @include mobile-above {
    display: none;
  }

  @include mobile {
    display: flex;
  }

  position: relative;
  flex-direction: column;
  align-items: end;
  row-gap: 6px;
  background-color: transparent;
  border: none;

  &::after {
    @include square(60px);
    @include abs-center;

    content: "";
  }

  &.is-active {
    .burger-menu__line {
      width: 20px;
      transform: translate(5px, 0);

      &:first-child {
        rotate: 45deg;
      }

      &:last-child {
        rotate: -45deg;
      }
    }
  }

  &__line {
    display: inline-flex;
    width: 20px;
    height: 2px;
    background-color: var(--color-white);
    transition-duration: var(--transition-duration);

    &:nth-child(1) {
      width: 12px;
    }
  }
}
