@use "../abstracts/" as *;

.card {
  --color-card-hover: var(--color-dark);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  padding: 24px;
  border: 1px solid var(--color-card-hover);
  transition-duration: var(--transition-duration);

  @include hover {
    --color-card-hover: var(--color-accent);
  }

  &__body {
    display: grid;
    row-gap: 12px;
  }

  &__list {
    padding-left: 18px;
  }

  &__item {
    list-style: square;
  }

  &__actions {
    display: grid;
    row-gap: 12px;
  }

  &__description {
    font-style: italic;
  }

  &__button {
    color: var(--color-white);
    background-color: var(--color-card-hover);
  }
}
