@use "../abstracts/" as *;

.slider {
  position: relative;
  overflow-x: hidden;

  &__line {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    height: 654px;
    transition-duration: var(--transition-duration);
  }

  &__item {
    &--down {
      margin-top: auto;
    }

    &--up {
      margin-bottom: auto;
    }
  }

  &__image {
    object-fit: cover;
  }

  &__area {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    width: 30%;
    height: 100%;
    transition-duration: var(--transition-duration);

    @include hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}
