@use "../abstracts/" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  &.is-look {
    overflow: hidden;
  }
}

body {
  overflow-x: hidden;
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--color-white);
  background-color: var(--color-dark);
}

a[class] {
  text-decoration: none;
  color: inherit;
}

a,
button,
input,
textarea,
input {
  cursor: pointer;
}

a,
button,
label,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

:focus-visible {
  @include focus-visible;
}
