@font-face {
  font-family: "Mulish";
  src: url("../../assets/fonts/mulish/mulish-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../../assets/fonts/mulish/mulish-400-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../../assets/fonts/mulish/mulish-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../../assets/fonts/mulish/mulish-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../../assets/fonts/oswald/oswald-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../../assets/fonts/oswald/oswald-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
