h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-accent);
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 116px;
  font-weight: 300;
  line-height: 132px;
}

h2,
.h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

h3,
.h3 {
  font-size: 20;
  font-weight: 400;
  line-height: 28px;
}
