@use "../abstracts/" as *;

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-accent);
  text-transform: uppercase;
}

h1,
.h1 {
  @include fluid-text(116, 56);

  font-weight: 300;
  line-height: fluid(132, 64);
}

h2,
.h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

h3,
.h3 {
  font-size: 20;
  font-weight: 400;
  line-height: 28px;
}
